
body {
	background-image:url("sky.jpg");
	/*background-position: center;*/
	background-size: cover;
	  font-family: "Baskerville";
	  font-style: normal;
	  font-size: 16px;
	  line-height: 1.3em;
	 
	  margin:0
  }
  

.lia{
	display: block;
	color:black;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	
}
#for_ul{
	font-family: "Baskerville";
	font-style: normal;
	font-size: 20px;
	overflow: hidden;
	/*position: fixed;*/
	top: 0;
    width: 100%;
	/*line-height: 1.3em;*/
	margin: 0;
	padding: 0;
	border: 3px solid;
	/*width: 345px;*/
	list-style-type: none;
	background-color:#5f5f5f;
}
#align
{
    text-align: center;
}

.container{   
    margin:10px;
    padding: 10px;
    max-width: 500px;
    border: 5px solid black;
    padding: 16px;
   
    
}
.box{
    font-family: "Baskerville";
    font-style: normal;
    font-size: 20px;
}
.forlinks{
	font-size: 2em;
	color: black;
}
.font{
	font-size: 1.2em;
	color: bottom: black;
}
#contact{
	font-style: italic;
	font-size: 30px;
	color: black;
	font-weight: bolder;
	text-align: center
}
table,th,td {
    font-weight: ;
    border: 3px solid #1a1a1a;     
}
.temp{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
    text-align: center;
    background-color: #5f5f5f;
}

th{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
    text-align: center;
    background-color: #5f5f5f
}
input{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background-position: cover;
}

#col{
    font-style: inherit;
    color:black;
    text-align: center;
}

#temp1{
    text-align: center;
}
.fitt{
	width:100%;
	padding: 11px;
	}
li a:hover:not(.active) {
    background-color: #cccccc;
}

.active {
    background-color: #cccccc;
}
